# important print statement

In [1]:
print("hello world")

hello world

In [7]:
print(123) #123 displayed

123

In [3]:
print(abcd) #will not be executed as consiting of string characters which wouldnt be read by the compiler

NameError: name 'abcd' is not defined

In [4]:
age = 32
print("my age is :",age)

my age is : 32

In [6]:
print("my age is : {age} ") # output : my age is : {age}

my age is : {age}

In [8]:
# fstring used for calling variable within string 
print(f"my age is : {age} ") # output my age is : 32

my age is : 32

In [9]:
## format ()
# any programming language should start from zero
name = "Arvind"
age = 26
print("my name is {} and age is {}".format(name,age))

my name is Arvind and age is 26

In [10]:
print("my name is {} and age is {}".format(age,name))

my name is 26 and age is Arvind

In [11]:
#placeholder
print("my name is {firstname} and age is {firstage}".format(firstname =name ,firstage = age))

my name is Arvind and age is 26

In [15]:
name = 'Arvind'
age = '26'
degree='B.Tech'
print("my age is {fage} and I have completed my degree of {fdegree} with the name of {fname}".format(fage=age,fdegree=degree, fname=name))

my age is 26 and I have completed my degree of B.Tech with the name of Arvind

## control Flow
### Decision Making statements

In [1]:
# if statement 
age = 18 
if age >= 18 :
    print('you are eliglible to vote')

"""
== equall to 
<= less than equall to 
> greater than equall to 
"""

you are eliglible to vote

'\n== equall to \n<= less than equall to \n> greater than equall to \n'

In [5]:
age = 17
if age < 18 :
    print('you are not eliglible to vote')

you are not eliglible to vote

In [6]:
name = input("Enter the name ")

Enter the name  RVD

In [7]:
name

'RVD'

In [8]:
#typecasting for entering the integer value
age = int(input('Enter your age'))

Enter your age 32

In [13]:
age

22

In [10]:
type(age)

int

## Tasks for Practice 
### Take an input 
### Check if age >= 18 and less than <=42
### you are young blood

In [16]:
#if statemet 
age = int(input("Enter your age = "))
if age >= 18 and age <= 45:
    print("you are young blood")

SyntaxError: invalid syntax (776238528.py, line 4)

In [17]:
## if else statement
age = int(input("Enter your age = "))
if age >= 18 and age <= 45:
    print("you are young blood")
else:
    print(" Thank you for the entry. \n We would let you know")

Enter your age =  55

 thank you for the entry.
 We would let you know

In [ ]:
# mall sale offer is going onn 
## input product price
## money > 1000 rs, 20% off
## money spent < 1000 rs, 30% off 
## print final product price

In [19]:
amount = int(input("Enter the amount spent in shopping: "))
if amount >= 1000:
    print("you are Eligible for 20% discount")
    print("the Final amount is: {}".format(int(amount*0.8)))
else:
    print("the Final amount is: {}".format(int(amount*0.7)))

Enter the amount spent in shopping:  552

the Final amount is: 386

# mall sale offer is going onn 
## input product price
## money <= 2000 40% off
## money > 2000 rs, <= 3000 30% off
## money > 3000 rs,  20% off
## print final product price

In [22]:
amount = int(input("Enter the amount spent in shopping: "))
if amount >= 3000:
    print("you are Eligible for 20% discount.\n The Final amount is: {}".format(int(amount*0.8)))
elif amount >= 2000 and amount <= 3000: 
    print(f"you are Eligible for 30% discount.\n The Final amount is: {amount*0.7}")
else:
    print("you are Eligible for 40% discount.\n The Final amount is: {}".format(int(amount*0.6)))

Enter the amount spent in shopping:  2500

you are Eligible for 30% discount.
 The Final amount is: 1750.0

# mall sale offer is going onn 
## input product price
## money >100 and <= 2000 40% off
## money > 2000 rs, <= 3000 30% off
if price = 2999, you won a suitcase 
## money > 3000 rs,  20% off

## print final product price

In [26]:
amount = int(input("Enter the amount spent in shopping: "))
if amount >= 3000:
    print("you are Eligible for 20% discount.\n The Final amount is: {}".format(int(amount*0.8)))
elif amount >= 2000 and amount <= 3000: 
    if amount == 2999:
        print("Congratulations, you have won an additional gift of a suitcase worth rupees 3000")
    print(f"you are Eligible for 30% discount.\n The Final amount is: {amount*0.7}")
elif amount >= 100 and amount <= 2000:
    print("you are Eligible for 40% discount.\n The Final amount is: {}".format(int(amount*0.6)))
else:
    print("Tera kuch nahi ho sakta")

Enter the amount spent in shopping:  50

Tera kuch nahi ho sakta

In [1]:
# Single statement suites
val = int(input("Enter the value"))
if (val<=999):print("value is less than or equall to 999")
else:
    print('go home')

Enter the value 555

value is less than or equall to 999

## loop statements
1. while
2. for 
3. nested
4. loop control (break,continue, pass)

In [2]:
# while-else loop
joining_age=25
while joining_age<=60:
    joining_age = joining_age+1
    print(joining_age)
else:
    print("sorry its time to retire")
# the loop will keep running tuntill the condition is valid

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
sorry its time to retire

In [3]:
#atm machine example of while-else loop
total_amount = 1000
while total_amount !=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print('paisa bharo bank walon..!!')

1000
900
800
700
600
500
400
300
200
100

# for loop

In [7]:
lst = ['apple','mango', 'banana',1,2,3,4,5]
for x in lst:
    print(x)
    if x == 'mango':
        print('we are mango people')
        break

apple
mango
we are mango people

In [8]:
fruit= 'mango' #finding the elements in the words
for x in fruit:
    print(x,end='')
fruit[2]

mango

In [9]:
# nested loops
n = 7

for i in range(1,6): # step size is 1
    print(i)

'n'

In [9]:

for i in range(1,6,2): # step size is 2
    print(i)

'n'

In [10]:
n =7

for i in range (0,n):
    for j in range (0,i+1):
        print('*', end='')
    print('\r')

*
**
***
****
*****
******
*******

In [11]:
# loop control
## break and continue
fruit_list = ['mango','cherry', 'banana', 'orange', 'apple', 'papaya']

In [14]:
for i in fruit_list:
    if i=='apple':
        print('the fruit is apple')
        break #statement is used for stopping loop 
    print(i)

mango
cherry
banana
orange
the fruit is apple

In [15]:
for i in fruit_list:
    if i=='apple':
        print('the fruit is apple')
        continue #statement is used for skipping the loop 
    print(i)

mango
cherry
banana
orange
the fruit is apple
papaya

In [16]:
for i in fruit_list:
    if i=='apple':
        print('the fruit is apple')
        pass #statement is used for allowing the identity to pass through the loop 
    print(i)

mango
cherry
banana
orange
the fruit is apple
apple
papaya